:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --bg-color: #eee;
  /* 18-16 */
  --base-font: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* 22-18 */
  --large-font: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  /* 16-14 */
  --small-font: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --h1: clamp(1.5625rem, 1.4103rem + 0.7609vw, 2rem);
  --h2: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
}
/* start spacing */
.p-10 {
  padding: calc(10rem / 16);
}
.p-20 {
  padding: calc(20rem / 16);
}
.py-10 {
  padding: calc(10rem / 16) 0;
}
.py-20 {
  padding: calc(20rem / 16) 0;
}
.px-10 {
  padding: 0 calc(10rem / 16);
}
.px-20 {
  padding: 0 calc(20rem / 16);
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: calc(10rem / 16);
}
.m-20 {
  margin: calc(20rem / 16);
}
.my-10 {
  margin: calc(10rem / 16) 0;
}
.my-20 {
  margin: calc(20rem / 16) 0;
}
.mx-10 {
  margin: 0 calc(10rem / 16);
}
.mx-20 {
  margin: 0 calc(20rem / 16);
}
/* end spacing */

/* start layout */
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.f-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.gap-10 {
  gap: calc(10rem / 16);
}
.gap-20 {
  gap: calc(20rem / 16);
}
/* end layout */

/* start background */
.bg-main {
  background-color: var(--blue-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-white {
  background-color: white;
}
/* end background */

/* start text */
.c-grey {
  color: var(--grey-color);
}
.c-main {
  color: var(--blue-color);
}
.f-small {
  font-size: var(--small-font);
}
.f-large {
  font-size: var(--large-font);
}
.f-bold {
  font-weight: bold;
}
.f-light {
  font-weight: light;
}
.t-center {
  text-align: center;
}
/* end text */

/* start media classes */
@media (max-width: calc(767rem / 16)) {
  .hide-mobile {
    display: none;
  }
  .column-mobile {
    flex-direction: column;
  }
  .center-mobile {
    text-align: center;
  }
}
/* end media classes */

/* start border */
.rad-6 {
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
.rad-10 {
  border-radius: calc(10rem / 16);
  -webkit-border-radius: calc(10rem / 16);
  -moz-border-radius: calc(10rem / 16);
  -ms-border-radius: calc(10rem / 16);
  -o-border-radius: calc(10rem / 16);
}
.border-gray {
  border: 1px solid var(--grey-color);
}
/* end border */

/* start components */
.pageHead {
  margin-top: 0;
  width: fit-content;
  padding-bottom: calc(10rem / 16);
  position: relative;
}
.pageHead::after,
.pageHead::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  height: calc(2rem / 16);
}
.pageHead::after {
  background-color: #fff;
  width: 70%;
}
.pageHead::before {
  background-color: #000;
  width: 30%;
  z-index: 1;
}
/* end components */
