/* main rules */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  /* 16-14 */
  --base-font: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  /* 18-16 */
  --large-font: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* 14-12 */
  --small-font: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --h1: clamp(1.5625rem, 1.4103rem + 0.7609vw, 2rem);
  --h2: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
  --h3: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--base-font);
  background-color: #f1f5f9;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
video {
  object-fit: contain;
}

/* end main rules */
