/* main rules */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --bg-color: #eee;
  --transition-period: 0.3s;
  /* 18-16 */
  --base-font: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* 22-18 */
  --large-font: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  /* 16-14 */
  --small-font: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  /* 14-12 */
  --x-small-font: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --h1: clamp(1.5625rem, 1.4103rem + 0.7609vw, 2rem);
  --h2: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--base-font);
  background-color: #f1f5f9;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
video {
  object-fit: contain;
}

/* end main rules */

/* start scroll bar */
:root {
  --sb-track-color: #eeeeee;
  --sb-thumb-color: #0075ff;
  --sb-size: 15px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* end scroll bar */

/* start page */
.page {
  display: flex;
}
/* end page */

/* start aside */
aside {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  min-height: 100vh;
  flex-basis: min(250px, 15vw);
}
aside > div {
  position: sticky;
  top: calc(20rem / 16);
  left: calc(10rem / 16);
}
aside p {
  position: relative;
}
aside p::after,
aside p::before {
  content: '';
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
aside p::after {
  width: 50%;
  height: 2px;
  bottom: calc(-10rem / 16);
}
aside p::before {
  width: calc(12rem / 16);
  height: calc(12rem / 16);
  border: 4px solid white;
  bottom: calc(-18rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: calc(767rem / 16)) {
  aside p::after,
  aside p::before {
    display: none;
  }
}
aside nav {
  margin-top: calc(40rem / 16);
}
aside nav ul {
  display: flex;
  flex-direction: column;
  gap: calc(20rem / 16);
}
aside nav li {
  padding: calc(10rem / 16);
  border-radius: calc(10rem / 16);
  -webkit-border-radius: calc(10rem / 16);
  -moz-border-radius: calc(10rem / 16);
  -ms-border-radius: calc(10rem / 16);
  -o-border-radius: calc(10rem / 16);
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
li.active,
aside nav li:hover {
  background-color: #f6f6f6;
}
aside nav a {
  color: black;
  display: flex;
  gap: calc(15rem / 16);
  font-size: var(--small-font);
}
@media (max-width: calc(767rem / 16)) {
  aside nav a {
    justify-content: center;
  }
}
/* end aside */

/* start header */
.p-content {
  flex-grow: 1;
  overflow: hidden;
}
.p-content main {
  padding: 10px;
}
@media (min-width: 768px) {
  .p-content main {
    padding: 20px;
  }
}

.p-content > header {
  position: sticky;
  z-index: 5;
  top: 0;
  right: 0;
}
.p-content header img {
  width: calc(32rem / 16);
  height: calc(32rem / 16);
}
.p-content .search {
  width: min(calc(200rem / 16), 70%);
  transition: var(--transition-period);
  position: relative;
  border: 1px solid var(--grey-color);
  overflow: hidden;
  border-radius: calc(10rem / 16);
  -webkit-border-radius: calc(10rem / 16);
  -moz-border-radius: calc(10rem / 16);
  -ms-border-radius: calc(10rem / 16);
  -o-border-radius: calc(10rem / 16);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.p-content .search:focus-within {
  width: min(calc(250rem / 16), 75%);
}
.p-content .search::after {
  content: '\f002';
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  left: calc(8rem / 16);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.p-content .search input {
  border: none;
  margin-left: calc(20rem / 16);
}
.p-content .search input::placeholder {
  font-size: var(--small-font);
}
.p-content .search input:focus::placeholder {
  opacity: 0;
}
.search .user i {
  position: relative;
}
.p-content .user i::after {
  content: '';
  position: absolute;
  top: calc(15rem / 16);
  width: calc(8rem / 16);
  height: calc(8rem / 16);
  background-color: var(--red-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* end header */

/* start page container */
main .container {
  display: grid;
  gap: calc(20rem / 16);
}
@media (min-width: calc(767rem / 16)) {
  main .container {
    grid-template-columns: repeat(auto-fill, minmax(calc(450rem / 16), 1fr));
  }
}
/* end page container */

/* start welcome section */
.welcome {
  overflow: hidden;
}
.welcome > div:first-of-type {
  min-height: calc(150rem / 16);
}
.welcome > div:first-of-type figure img {
  height: calc(100rem / 16);
}
.welcome > figure {
  position: relative;
  left: calc(20rem / 16);
  bottom: calc(30rem / 16);
}
@media (max-width: calc(767rem / 16)) {
  .welcome > figure {
    left: calc(50% - 30px);
  }
}
.welcome > figure img {
  width: calc(60rem / 16);
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 5px #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.welcome .statics {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media (max-width: calc(767rem / 16)) {
  .welcome .statics {
    flex-direction: column;
    gap: calc(20rem / 16);
  }
}
.welcome .statics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(10rem / 16);
}
.welcome > a {
  width: fit-content;
  display: block;
  color: white;
  background-color: var(--blue-color);
  margin: calc(15rem / 16) calc(15rem / 16) calc(15rem / 16) auto;
  font-size: calc(var(--small-font) - 2px);
  padding: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end welcome section */

/* start draft */
.draft {
  text-transform: capitalize;
}
.draft header h2 {
  margin-bottom: calc(10rem / 16);
}
.draft form {
  padding-bottom: 0;
}
.draft form *::placeholder {
  text-transform: capitalize;
  font-size: var(--small-font);
}
.draft form input[type='text'] {
  border: none;
  padding: calc(8rem / 16) 10px;
}
.draft form textarea {
  min-height: calc(150rem / 16);
  border: none;
  padding: calc(8rem / 16) 10px;
  resize: none;
}
.draft form input[type='submit'] {
  width: fit-content;
  border: none;
  font-size: var(--small-font);
  color: white;
  background-color: var(--blue-color);
  margin-left: auto;
  padding: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end draft */

/* start targets */
.targets {
  text-transform: capitalize;
}
.targets h2 {
  margin-bottom: calc(10rem / 16);
}
.targets .icon {
  width: calc(80rem / 16);
  height: calc(80rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.targets .money .icon {
  background-color: #cce3ff;
}
.targets .projects .icon {
  background-color: #fdecce;
}
.targets .projects .icon i {
  color: var(--orange-color);
}
.targets .team .icon {
  background-color: #d3f3df;
}
.targets .team .icon i {
  color: var(--green-color);
}
.targets .percent {
  flex: 1;
}
.targets .percent div:last-of-type {
  width: 100%;
  height: 4px;
}
.targets .percent div:last-of-type span {
  display: block;
  height: 100%;
  position: relative;
}
.targets .percent div:last-of-type span::after {
  content: attr(wid);
  position: absolute;
  bottom: calc(100% + calc(10rem / 16));
  right: 0px;
  font-size: var(--small-font);
  padding: 5px;
  background-color: inherit;
  color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.targets .percent div:last-of-type span::before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: -2.5px;
  border: 5px solid transparent;
}
.targets .money .percent div:last-of-type {
  background-color: #cce3ff;
}
.targets .money .percent div:last-of-type span {
  background-color: var(--blue-color);
}
.targets .money .percent div:last-of-type span::before {
  border-top-color: var(--blue-color);
}
.targets .projects .percent div:last-of-type {
  background-color: #fdecce;
}
.targets .projects .percent div:last-of-type span {
  background-color: var(--orange-color);
}
.targets .projects .percent div:last-of-type span::before {
  border-top-color: var(--orange-color);
}
.targets .team .percent div:last-of-type {
  background-color: #d3f3df;
}
.targets .team .percent div:last-of-type span {
  background-color: var(--green-color);
}
.targets .team .percent div:last-of-type span::before {
  border-top-color: var(--green-color);
}
/* end targets */

/* start tickets */
.tickets {
  text-transform: capitalize;
}
.tickets > div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(20rem / 16);
  margin-top: calc(20rem / 16);
}
.tickets .box {
  border: 1px solid #eee;
  min-height: calc(130rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.tickets .box i {
  margin-bottom: 20px;
}
.tickets .box:nth-of-type(1) i {
  color: var(--orange-color);
}
.tickets .box:nth-of-type(2) i {
  color: var(--blue-color);
}
.tickets .box:nth-of-type(3) i {
  color: var(--green-color);
}
.tickets .box:nth-of-type(4) i {
  color: var(--red-color);
}
/* end tickets */

/* start latest news */
.news {
  text-transform: capitalize;
}
.news .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.news .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.news .row:last-of-type {
  padding-top: calc(20rem / 16);
}
.news .row div {
  flex: 1;
}
.news .row div h3 {
  margin-bottom: calc(10rem / 16);
  font-size: var(--base-font);
}
.news .row span {
  background-color: #eee;
  padding: calc(5rem / 16);
  font-size: var(--x-small-font);
}
.news img {
  width: calc(100rem / 16);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end latest news */

/* start tasks */
.tasks {
  text-transform: capitalize;
}
.tasks > div:last-of-type {
  padding-top: calc(20rem / 16);
}
.tasks > div:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.tasks > div h3 {
  font-size: var(--base-font);
  margin-bottom: calc(10rem / 16);
}
.tasks > div i {
  cursor: pointer;
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.tasks .finish {
  opacity: 0.3;
}
.tasks .finish h3,
.tasks .finish p {
  text-decoration: line-through;
}
.tasks > div i:hover {
  color: var(--red-color);
}
/* end tasks */

/* start search */
.top-search {
  text-transform: capitalize;
}
.top-search .row:not(:first-of-type, :last-of-type) {
  border-bottom: 1px solid #eee;
}
.top-search .row:last-of-type {
  padding-bottom: 0;
}
.top-search .row:not(:first-of-type) > span {
  min-width: calc(35rem / 16);
  text-align: center;
  font-size: var(--x-small-font);
  background-color: #eee;
  color: #777;
  padding: calc(5rem / 16);
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
/* end search */

/* start upload */
.upload {
  text-transform: capitalize;
}
.upload .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.upload .row {
  padding: calc(18rem / 16) 0;
}
.upload .row:last-of-type {
  padding-bottom: 0;
}
.upload figure img {
  width: calc(30rem / 16);
  height: calc(30rem / 16);
}
.upload .content {
  flex: 1;
}
.upload .content p {
  font-size: var(--small-font);
  font-weight: 500;
  margin-bottom: calc(5rem / 16);
}
.upload .row > span {
  min-width: calc(60rem / 16);
  text-align: center;
  font-size: var(--x-small-font);
  color: #777;
  background-color: #eee;
  padding: calc(5rem / 16);
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
/* end upload */

/* start project */
.project {
  position: relative;
  white-space: nowrap;
}
.project figure {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}
.project figure img {
  width: calc(180rem / 16);
  height: calc(180rem / 16);
}
.project .project-steps {
  padding-left: calc(30rem / 16);
  position: relative;
}
.project .project-steps::after {
  content: '';
  position: absolute;
  top: calc(15rem / 16);
  left: calc(14rem / 16);
  width: 2px;
  height: calc(100% - calc(30rem / 16));
  background-color: var(--blue-color);
}
.project .step {
  padding-left: calc(10rem / 16);
  font-weight: 600;
  position: relative;
}
.project .step:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(20rem / 16);
  height: calc(20rem / 16);
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.project .step:not(.in-progress, :last-of-type)::after {
  background-color: var(--blue-color);
}
.in-progress::after {
  animation: in-progress infinite 0.8s ease-in-out;
  -webkit-animation: in-progress infinite 0.8s ease-in-out alternate;
}
/* end project */

/* start reminder */
.reminder .tasks {
  display: flex;
  flex-direction: column;
  padding-top: calc(15rem / 16);
  padding-left: calc(20rem / 16);
  gap: calc(15rem / 16);
}
.reminder .task {
  padding-left: calc(10rem / 16);
  border-left: 2px solid var(--blue-color);
  position: relative;
}
.reminder .task::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -27px;
  transform: translateY(-50%);
  width: calc(15rem / 16);
  height: calc(15rem / 16);
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reminder .task span {
  font-size: var(--x-small-font);
}
.reminder .task:nth-of-type(2) {
  border-color: var(--green-color);
}
.reminder .task:nth-of-type(2)::after {
  background-color: var(--green-color);
}
.reminder .task:nth-of-type(3) {
  border-color: var(--orange-color);
}
.reminder .task:nth-of-type(3)::after {
  background-color: var(--orange-color);
}
.reminder .task:nth-of-type(4) {
  border-color: var(--red-color);
}
.reminder .task:nth-of-type(4)::after {
  background-color: var(--red-color);
}
/*  end reminder */

/* start latest-post */
.latest-post img {
  width: calc(50rem / 16);
  height: calc(50rem / 16);
}
.latest-post .post div:first-of-type h3 {
  font-size: var(--base-font);
}
.latest-post .post > p {
  min-height: calc(150rem / 16);
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* end latest-post */

/* start social */
.social .row i {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  color: white;
  font-size: var(--large-font);
  transition: transform var(--transition-period);
  -webkit-transition: transform var(--transition-period);
  -moz-transition: transform var(--transition-period);
  -ms-transition: transform var(--transition-period);
  -o-transition: transform var(--transition-period);
}
.social .row i:hover {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.social .row p {
  flex: 1;
  font-size: var(--small-font);
}
.social .row span {
  color: white;
  font-size: var(--x-small-font);
  padding: calc(5rem / 16);
  min-width: calc(80rem / 16);
  text-align: center;
}
.social .row:nth-of-type(1) {
  background-color: rgb(29 160 242 / 20%);
  color: #1da1f2;
}
.social .row:nth-of-type(1) i {
  background-color: #1da1f2;
}
.social .row:nth-of-type(1) span {
  background-color: #1da1f2;
}
.social .row:nth-of-type(2) {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.social .row:nth-of-type(2) i {
  background-color: #1877f2;
}
.social .row:nth-of-type(2) span {
  background-color: #1877f2;
}
.social .row:nth-of-type(3) {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social .row:nth-of-type(3) i {
  background-color: #ff0000;
}
.social .row:nth-of-type(3) span {
  background-color: #ff0000;
}
.social .row:nth-of-type(4) {
  background-color: rgb(10 102 194 / 20%);
  color: #0a66c2;
}
.social .row:nth-of-type(4) i {
  background-color: #0a66c2;
}
.social .row:nth-of-type(4) span {
  background-color: #0a66c2;
}
/* end social */

/* start all-projects */
.table-container {
  overflow: auto;
}
.all-projects table {
  border-spacing: 0;
  text-align: center;
  border-collapse: collapse;
  width: max(100%, calc(1000rem / 16));
}
.all-projects tbody tr {
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.all-projects tbody tr:hover {
  background-color: rgba(245, 245, 245, 0.648);
}
.all-projects table th,
.all-projects table td {
  padding: calc(15rem / 16);
  font-size: var(--small-font);
  border: 1px solid #eee;
}
.all-projects td img {
  margin-left: calc(-20rem / 16);
  width: calc(30rem / 16);
  height: calc(30rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.all-projects td span {
  display: inline-block;
  width: calc(100rem / 16);
  color: white;
  font-size: var(--x-small-font);
  padding: calc(5rem / 16);
  border-radius: calc(5rem / 16);
  -webkit-border-radius: calc(5rem / 16);
  -moz-border-radius: calc(5rem / 16);
  -ms-border-radius: calc(5rem / 16);
  -o-border-radius: calc(5rem / 16);
}
.all-projects .pending {
  background-color: var(--orange-color);
}
.all-projects .completed {
  background-color: var(--green-color);
}
.all-projects .progress {
  background-color: var(--blue-color);
}
/* end all-projects */

/* End Dashboard Page */

/* Start Settings */
.settings-container {
  display: grid;
  gap: calc(20rem / 16);
}
@media (min-width: 768px) {
  .settings-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(450rem / 16), 1fr));
  }
}
.settings-container .site-control textarea {
  resize: none;
  border: 1px solid #ccc;
  width: 100%;
  min-height: calc(150rem / 16);
}
.settings-container .site-control textarea::placeholder {
  color: var(--grey-color);
  font-size: var(--x-small-font);
  text-transform: capitalize;
}
/* end site control */

/* start general info */
.settings-container .general-info label {
  display: block;
  margin: calc(10rem / 16) 0;
  font-size: var(--x-small-font);
}
.settings-container .general-info input {
  width: 100%;
  padding: calc(10rem / 16);
  font-size: calc(12rem / 16);
  border: 1px solid #ccc;
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}

.settings-container .general-info input::placeholder {
  text-transform: capitalize;
}

.settings-container .general-info input:disabled {
  background-color: #f0f4f8;
  color: #b2b2b2;
  cursor: no-drop;
}

.settings-container .general-info button {
  width: calc(80rem / 16);
  background-color: var(--blue-color);
  color: white;
  border: none;
  padding: calc(7rem / 16) 10px;
  text-transform: capitalize;
  font-size: var(--small-font);
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
  transition: var(--transition-period) ease-in-out;
  -webkit-transition: var(--transition-period) ease-in-out;
  -moz-transition: var(--transition-period) ease-in-out;
  -ms-transition: var(--transition-period) ease-in-out;
  -o-transition: var(--transition-period) ease-in-out;
  cursor: pointer;
}
.settings-container .general-info button:hover {
  background-color: var(--blue-alt-color);
}
/* end general info */

/* start security-info */
.security-info > div {
  padding: calc(20rem / 15) 0;
  border-bottom: 1px solid #eee;
}
.security-info > div:last-of-type {
  border: none;
  padding-bottom: 0;
}
.security-info button {
  padding: calc(10rem / 16) calc(15rem / 16);
  text-transform: capitalize;
  font-size: var(--x-small-font);
  border: none;
  cursor: pointer;
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.security-info > div:first-of-type button {
  background-color: var(--blue-color);
  color: white;
}
.security-info > div:first-of-type button:hover {
  background-color: var(--blue-alt-color);
}
.security-info > div:last-of-type button {
  background-color: #eee;
}
.security-info > div:last-of-type button:hover {
  background-color: #ccc;
}
/* end security-info */

/* start social info */
.social-info .social {
  background-color: #eee;
  margin-bottom: calc(30rem / 16);
  display: flex;
  border: 1px solid #ccc;
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
.social-info .social:last-of-type {
  margin-bottom: 0;
}
.social-info .social span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(40rem / 16);
  border-right: 1px solid #ccc;
  color: #777;
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.social-info .social:first-of-type:focus-within span {
  color: #1da1f2;
}
.social-info .social:nth-of-type(2):focus-within span {
  color: #1877f2;
}
.social-info .social:nth-of-type(3):focus-within span {
  color: #0a66c2;
}
.social-info .social:last-of-type:focus-within span {
  color: #ff0000;
}
.social-info .social input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: calc(10rem / 16);
  font-size: var(--x-small-font);
}
.social-info .social input::placeholder {
  text-transform: capitalize;
  font-size: var(--x-small-font);
}
/* end social info */

/* start widgets-control */
.widgets-control input {
  appearance: none;
}
.widgets-control label {
  display: block;
  position: relative;
  margin-left: calc(30rem / 16);
  font-size: var(--small-font);
  cursor: pointer;
}
.widgets-control label::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-period);
  left: calc(-25rem / 16);
  width: calc(15rem / 16);
  height: calc(15rem / 16);
  border: 1px solid #c3c3c3;
  border-radius: calc(4rem / 16);
  -webkit-border-radius: calc(4rem / 16);
  -moz-border-radius: calc(4rem / 16);
  -ms-border-radius: calc(4rem / 16);
  -o-border-radius: calc(4rem / 16);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.widgets-control label:hover::after {
  border-color: var(--blue-alt-color);
}
.widgets-control input:checked + label::after {
  border-color: var(--blue-alt-color);
}
.widgets-control label::before {
  content: '\f00c';
  position: absolute;
  top: 50%;
  margin-top: calc(-8rem / 16);
  transition: var(--transition-period);
  left: calc(-25rem / 16);
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 10px;
  width: calc(16rem / 16);
  height: calc(16rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(4rem / 16);
  -webkit-border-radius: calc(4rem / 16);
  -moz-border-radius: calc(4rem / 16);
  -ms-border-radius: calc(4rem / 16);
  -o-border-radius: calc(4rem / 16);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.widgets-control input:checked + label::before {
  transform: scale(1) rotate(1turn);
  -webkit-transform: scale(1) rotate(1turn);
  -moz-transform: scale(1) rotate(1turn);
  -ms-transform: scale(1) rotate(1turn);
  -o-transform: scale(1) rotate(1turn);
}
/* end widgets-control */

/* start backup-manager */
.backup-manager input {
  appearance: none;
}
.backup-manager label {
  cursor: pointer;
}
.backup-manager .time {
  display: flex;
  flex-direction: column;
  gap: calc(10rem / 16);
  padding-bottom: calc(20rem / 16);
  border-bottom: 1px solid #eee;
}
.backup-manager .time label {
  padding-left: calc(25rem / 16);
  position: relative;
}
.backup-manager .time label::after {
  content: '';
  position: absolute;
  left: calc(-5rem / 16);
  width: calc(15rem / 16);
  height: calc(15rem / 16);
  border: 2px solid #ccc;
  transition: var(--transition-period);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.backup-manager .time label:hover::after {
  border-color: var(--blue-alt-color);
}

.backup-manager .time label::before {
  content: '';
  position: absolute;
  transform: scale(0);
  left: calc(-1.75rem / 16);
  top: calc(3.5rem / 16);
  width: calc(12rem / 16);
  height: calc(12rem / 16);
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.backup-manager .time input:checked + label::after {
  border-color: var(--blue-color);
}
.backup-manager .time input:checked + label::before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.backup-manager .server {
  display: flex;
  gap: calc(10rem / 16);
}
@media (max-width: 767px) {
  .backup-manager .server {
    flex-direction: column;
  }
}
.backup-manager .server label {
  flex-grow: 1;
}
.backup-manager .server div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(15rem / 16);
  border: 2px solid #eee;
  padding: calc(10rem / 16);
  border-radius: calc(10rem / 16);
  -webkit-border-radius: calc(10rem / 16);
  -moz-border-radius: calc(10rem / 16);
  -ms-border-radius: calc(10rem / 16);
  -o-border-radius: calc(10rem / 16);
}
.backup-manager .server input:checked + div {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
/* end backup-manager */

/* End Settings */

/* Start Profile */
.profile-container .info {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .profile-container .info {
    flex-direction: column;
  }
}
.profile-container .info .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(350rem / 16);
  border-right: 1px solid #eee;
}
@media (max-width: 768px) {
  .profile-container .info .user {
    border-right: none;
  }
}
.profile-container .info img {
  width: calc(120rem / 16);
  height: calc(120rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-container .info .progress {
  background-color: #eee;
  height: calc(6rem / 16);
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
.profile-container .progress span {
  display: block;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: calc(6rem / 16);
}
.profile-container .info i {
  color: var(--orange-color);
  font-size: var(--small-font);
}
.profile-container .info .info-setting {
  flex-grow: 1;
  font-size: var(--x-small-font);
}
.profile-container .info .info-setting > div {
  border-bottom: 1px solid #eee;
  padding: calc(20rem / 16);
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.profile-container .info .info-setting > div:last-of-type {
  border: none;
}
.profile-container .info .info-setting > div:hover {
  background-color: #f1f1f1;
  cursor: default;
}
.profile-container .info-setting > div > div {
  flex-wrap: wrap;
  gap: calc(20rem / 16);
}
.profile-container .toggle .switcher {
  height: calc(20rem / 16);
}
.profile-container .toggle .switcher::after {
  width: calc(12rem / 16);
  height: calc(12rem / 16);
  font-size: calc(7rem / 16);
  left: 4px;
}
.profile-container .toggle input:checked + .switcher::after {
  left: calc(100% - calc(16rem / 16));
}

@media (max-width: 768px) {
  .profile-container > div {
    flex-direction: column;
    text-align: center;
  }
}

.profile-container .skills {
  flex-grow: 1;
}
.profile-container .skills div {
  padding: calc(15rem / 16) 0;
  border-bottom: 1px solid #eee;
  display: flex;
  gap: calc(10rem / 16);
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .profile-container .skills div {
    justify-content: center;
  }
}
.profile-container .skills div:last-of-type {
  border-bottom: none;
}
.profile-container .skills span {
  background-color: var(--bg-color);
  padding: calc(7rem / 16) calc(15rem / 16);
  border-radius: calc(10rem / 16);
  -webkit-border-radius: calc(10rem / 16);
  -moz-border-radius: calc(10rem / 16);
  -ms-border-radius: calc(10rem / 16);
  -o-border-radius: calc(10rem / 16);
  font-size: var(--x-small-font);
  text-transform: capitalize;
  display: inline-block;
}
.profile-container .activities {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile-container .activities > div {
  border-bottom: 1px solid #eee;
  padding: calc(20rem / 16);
}
.profile-container .activities > div:last-of-type {
  border: none;
  padding-bottom: 0;
}
.profile-container .activities .content {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .profile-container .activities > div,
  .profile-container .activities > div div {
    flex-direction: column;
  }
  .profile-container .activities > div div {
    gap: calc(10rem / 16);
  }
}
.profile-container .activities img {
  width: calc(65rem / 16);
  height: calc(65rem / 16);
}
/* End Profile */

/* start projects */
.projects-container {
  display: grid;
  gap: calc(20rem / 16);
}

@media (min-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 768px) {
  .projects-container header {
    flex-direction: column;
    gap: calc(10rem / 16);
  }
}
.projects-container header p {
  font-weight: 600;
}
.projects-container header + p {
  font-size: var(--x-small-font);
  max-width: 100%;
  white-space: wrap;
  line-height: calc(20rem / 16);
}
@media (max-width: 768px) {
  .projects-container header + p {
    text-align: center;
  }
}
.projects-container .members {
  margin-top: calc(50rem / 16);
}
.projects-container img {
  position: relative;
  border: 2px solid white;
  width: calc(40rem / 16);
  height: calc(40rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects-container img:not(:first-of-type) {
  margin-left: calc(-20rem / 16);
}
.projects-container img:hover {
  z-index: 1;
}
.projects-container .area {
  display: flex;
  gap: calc(10rem / 16);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
  .projects-container .area {
    flex-direction: column;
    text-align: center;
  }
}
.projects-container .area span {
  background-color: #eee;
  font-size: var(--x-small-font);
  padding: calc(7rem / 16);
  border-radius: calc(6rem / 16);
  -webkit-border-radius: calc(6rem / 16);
  -moz-border-radius: calc(6rem / 16);
  -ms-border-radius: calc(6rem / 16);
  -o-border-radius: calc(6rem / 16);
}
@media (max-width: 768px) {
  .projects-container .status {
    flex-direction: column;
    gap: calc(20rem / 16);
  }
}
.projects-container .progress {
  position: relative;
  width: min(calc(200rem / 16), 100%);
  height: calc(8rem / 16);
  border-radius: calc(5rem / 16);
  -webkit-border-radius: calc(5rem / 16);
  -moz-border-radius: calc(5rem / 16);
  -ms-border-radius: calc(5rem / 16);
  -o-border-radius: calc(5rem / 16);
}
.projects-container .progress span {
  position: absolute;
  display: inline-block;
  height: inherit;
  background-color: var(--red-color);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.projects-container .progress .semi {
  background-color: var(--orange-color);
}
.projects-container .progress .completed {
  background-color: var(--green-color);
}
/* end projects */

/* start courses */
.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(300rem / 16), 1fr));
  gap: calc(20rem / 16);
}
.courses-container > section {
  overflow: hidden;
}
.courses-container figure {
  position: relative;
}
.courses-container figure img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.courses-container figure img:last-of-type {
  position: absolute;
  top: calc(20rem / 16);
  left: calc(20rem / 16);
  width: calc(60rem / 16);
  height: calc(60rem / 16);
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.courses-container p:last-of-type {
  font-size: var(--x-small-font);
  font-weight: 500;
  line-height: calc(20rem / 16);
}
.courses-container .info {
  border-top: 1px solid #eee;
  padding: calc(10rem / 16) calc(20rem / 16);
  margin-top: calc(20rem / 16);
}
.courses-container .info span:nth-of-type(2) {
  color: white;
  background-color: var(--blue-color);
  font-size: var(--x-small-font);
  position: relative;
  top: -25px;
  padding: calc(5rem / 16) calc(8rem / 16);
}
/* end courses */

/* start friends */
.friends-container {
  display: grid;
  gap: calc(20rem / 16);
}
@media (min-width: 768px) {
  .friends-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(300rem / 16), 1fr));
  }
}
.friends-container .contact i {
  cursor: pointer;
  transition: var(--transition-period);
  background-color: var(--bg-color);
  font-size: var(--x-small-font);
  color: var(--grey-color);
  padding: calc(8rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.friends-container .contact i:hover {
  color: white;
  background-color: var(--blue-color);
}
.friends-container .info img {
  width: calc(100rem / 16);
  height: calc(100rem / 16);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.friends-container .status {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: var(--x-small-font);
}
.friends-container .friend:nth-of-type(even) .status::after {
  content: 'VIP';
  position: absolute;
  top: 50%;
  right: calc(10rem / 16);
  font-size: calc(40rem / 16);
  opacity: 0.3;
  color: var(--red-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.friends-container .status span {
  margin-left: calc(5rem / 16);
}
.friends-container .foot {
  font-size: var(--x-small-font);
}
@media (max-width: 767px) {
  .friends-container .foot {
    gap: calc(15rem / 16);
    flex-direction: column;
  }
}
.friends-container .foot a,
.friends-container .foot button {
  color: white;
  padding: calc(3rem / 16) calc(10rem / 16);
  border-radius: calc(5rem / 16);
  -webkit-border-radius: calc(5rem / 16);
  -moz-border-radius: calc(5rem / 16);
  -ms-border-radius: calc(5rem / 16);
  -o-border-radius: calc(5rem / 16);
}
.friends-container .foot a {
  display: inline-block;
  background-color: var(--blue-color);
}
.friends-container .foot button {
  background-color: var(--red-color);
  border: none;
}
/* end friends */

/* start files */
.files-container {
  align-items: start;
}
@media (max-width: 767px) {
  .files-container {
    align-items: unset;
    flex-direction: column;
  }
}
.files-container .files {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(200rem / 16), 1fr));
  gap: calc(20rem / 16);
}
@media (max-width: 767px) {
  .files-container .files {
    order: 2;
  }
}
.files-container .file {
  font-size: var(--x-small-font);
}
.files-container .file:hover img {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.files-container .files img {
  width: calc(50rem / 16);
  height: calc(50rem / 16);
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.files-container .file > div:first-of-type {
  flex-direction: column;
}
.files-container .file > div:last-of-type {
  margin-top: calc(10rem / 16);
  padding-top: calc(10rem / 16);
  border-top: 1px solid #eee;
}
.files-container .statistics {
  min-width: calc(240rem / 16);
}
.files-container .statistics > div {
  border: 1px solid #eee;
  font-size: var(--x-small-font);
  margin-bottom: calc(10rem / 16);
}
.files-container .statistics i {
  padding: calc(12rem / 16);
}
.files-container .statistics i.pdf {
  background-color: #cce3ff;
  color: var(--blue-color);
}
.files-container .statistics i.image {
  background-color: #d3f3df;
  color: var(--green-color);
}
.files-container .statistics i.word {
  background-color: #fdecce;
  color: var(--orange-color);
}
.files-container .statistics i.csv {
  background-color: #f4433635;
  color: var(--red-color);
}
.files-container .statistics .content {
  flex-direction: column;
}
.files-container .statistics button {
  display: block;
  margin: auto;
  color: white;
  background-color: var(--blue-color);
  border: none;
  padding: calc(12rem / 16) calc(20rem / 16);
  cursor: pointer;
  transition: var(--transition-period);
  -webkit-transition: var(--transition-period);
  -moz-transition: var(--transition-period);
  -ms-transition: var(--transition-period);
  -o-transition: var(--transition-period);
}
.files-container .statistics button:hover {
  background-color: var(--blue-alt-color);
}
.files-container .statistics button i {
  padding: 0;
}
.files-container .statistics button:hover i {
  animation: up-down 0.4s infinite alternate ease-in-out;
  -webkit-animation: up-down 0.4s infinite alternate ease-in-out;
}
/* end files */

/* start animations */
@keyframes in-progress {
  0% {
    background-color: var(--blue-color);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}
/* end animations */

/* start component */
.toggle input {
  appearance: none;
  display: none;
}
.toggle .switcher {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  width: calc(90rem / 16);
  height: calc(35rem / 16);
  border-radius: calc(20rem / 16);
  -webkit-border-radius: calc(20rem / 16);
  -moz-border-radius: calc(20rem / 16);
  -ms-border-radius: calc(20rem / 16);
  -o-border-radius: calc(20rem / 16);
  transition: var(--transition-period) ease-in-out;
  -webkit-transition: var(--transition-period) ease-in-out;
  -moz-transition: var(--transition-period) ease-in-out;
  -ms-transition: var(--transition-period) ease-in-out;
  -o-transition: var(--transition-period) ease-in-out;
}
.toggle input:checked + .switcher {
  background-color: var(--blue-color);
}
.toggle .switcher::after {
  content: '\58';
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: var(--x-small-font);
  color: #ccc;
  display: grid;
  place-items: center;
  width: calc(25rem / 16);
  height: calc(25rem / 16);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: var(--transition-period) ease-in-out;
  -webkit-transition: var(--transition-period) ease-in-out;
  -moz-transition: var(--transition-period) ease-in-out;
  -ms-transition: var(--transition-period) ease-in-out;
  -o-transition: var(--transition-period) ease-in-out;
}
.toggle input:checked + .switcher::after {
  content: '\f00c';
  color: var(--blue-color);
  left: calc(100% - 30px);
}
@media (max-width: 767px) {
  .toggle .switcher {
    width: calc(45rem / 16);
    height: calc(17rem / 16);
    border-radius: calc(10rem / 16);
    -webkit-border-radius: calc(10rem / 16);
    -moz-border-radius: calc(10rem / 16);
    -ms-border-radius: calc(10rem / 16);
    -o-border-radius: calc(10rem / 16);
  }
  .toggle .switcher::after {
    width: calc(12.5rem / 16);
    height: calc(12.5rem / 16);
    font-size: 7px;
    left: 2.5px;
  }
  .toggle input:checked + .switcher::after {
    left: calc(100% - 15px);
  }
}
/* end component */
